@page
@using Common.Utilities;
@model Web.Pages.DTCMS.Usermanager.IndexModel



@inject IStringLocalizer<ResourceLibrary.Panel.Admin.Users.Users> Localizer;
@inject IStringLocalizer<ResourceLibrary.Resources.Usermanager.UsermanagerRes> UserResLocalizer;
@inject IStringLocalizer<ResourceLibrary.Panel.Common.Global.Global> GlobalLocalizer;
@{
    ViewData["Title"] = Localizer["Title"];
    Layout = "_DashLayout";
    string PageName = "usermanager";

}
 
<vc:page-action page-name="@PageName" search-filter-query="PhoneNumber,Email,Name,Family"></vc:page-action>
<dt:grid-container page-name="@PageName" page-title="@Localizer["Title"]" filter-count="@Model.PageFilter.filters.Count" page="@Model.PageFilter.arg.PageNumber" total="@Model.Items.Count">
    <main class="my-8">
        @foreach (var item in Model.Items)
        {
            <dt:grid-card item-id="@item.Id">
                <div class="flex align-center">

                    <div class="mx-3">
                        <div class="text-gray-800 font-bold mb-2">
                            @item.Name @item.Family
                        </div>
                        <div class="text-gray-600 font-normal text-sm">
                            @if (item.PhoneNumber != null)
                            {
                                <span>
                                    @item.PhoneNumber -
                                </span>
                            }
                            else
                            {
                                <span>
                                    @item.Email -
                                </span>
                            }
                            @item.CreateDate.ToString("d")
                        </div>
                    </div>

                </div>
                <div class="md:hidden flex items-center rtl:mr-auto ml-[11px] ltr:ml-auto mr-[11px]" data-sheet-control="mobile__more__sheet__@item.Id">
                    @if (item.UserRole == Common.Enums.UsersRole.admin)
                    {
                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full    bg-blue-100 text-blue-800 text-xs font-semibold">
                            @Localizer["Admin"]
                        </span>
                    }
                    else  @if (item.UserRole == Common.Enums.UsersRole.user)
                    {
                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full   bg-green-100 text-emerald-800 text-xs font-semibold ">

                            @Localizer["User"]

                        </span>
                    }
                    <button class="flex items-center rtl:mr-2 ltr:ml-2">
                        <span class="icon-Dots-vertical"></span>
                    </button>
                </div>
                <div class="hidden md:flex md:items-center rtl:md:mr-auto rtl:md:ml-[11px] ltr:md:ml-auto ltr:md:mr-[11px]  ">

                    @if (item.UserRole == Common.Enums.UsersRole.admin)
                    {
                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full  bg-blue-100 text-blue-800 text-xs font-semibold ltr:ml-4">
                            @Localizer["Admin"]
                        </span>
                    }
                    else  @if (item.UserRole == Common.Enums.UsersRole.user)
                    {
                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full   bg-green-100 text-emerald-800 text-xs font-semibold ltr:ml-4 ">

                            @Localizer["User"]

                        </span>
                    }

                    <div class="cursor-pointer mr-4" data-sheet-control="user__detail__@item.Id">
                        <span class="icon-User text-xl text-gray-700"></span>
                    </div>


                    <div class="cursor-pointer mr-4" data-sheet-control="change__pass__@item.Id">
                        <span class="icon-Lock-closed text-xl text-gray-700"></span>
                    </div>


                    <a class="cursor-pointer mr-4" href="/dtcms/@PageName/upsert?id=@item.Id">
                        <span class="icon-Pencil text-xl text-gray-700"></span>
                    </a>
                    <div class="cursor-pointer mr-4" data-sheet-control="delete__box__@item.Id">
                        <span class="icon-Trash text-xl text-gray-700"></span>
                    </div>
                </div>
                <dt:bottom-sheet id="mobile__more__sheet__@item.Id" min-height="55">
                    <div class="w-[100%] flex flex-col justify-between pb-10 rtl:mr-auto items-end ltr:ml-auto items-start  ">
                        <h3 class="mx-auto font-semibold text-lg mb-5">   @item.Name @item.Family</h3>

                        <div class="cursor-pointer w-[100%] rtl:mr-4 ltr:ml-4 pt-6 flex" data-sheet-control="user__detail__@item.Id">
                            <span class="icon-User text-xl text-gray-700"></span>
                            <span class="font-semibold text-base mx-2  text-gray-700">
                                @Localizer["Detail"]
                            </span>
                        </div>

                        <div class="cursor-pointer w-[100%] rtl:mr-4 ltr:ml-4 pt-6 flex" data-sheet-control="change__pass__@item.Id">
                            <span class="icon-Lock-closed text-xl text-gray-700"></span>
                            <span class="font-semibold text-base mx-2  text-gray-700">
                                @Localizer["ChangePassword"]
                            </span>
                        </div>

                        <a class="cursor-pointer rtl:mr-4 ltr:ml-4 border-b-2 pb-2 border-gray-100 w-full pt-6 flex"
                           href="/dtcms/@PageName/upsert?id=@item.Id">
                            <span class="icon-Pencil text-xl text-gray-700"></span>
                            <span class="font-semibold text-base mx-2">@GlobalLocalizer["Edit"]</span>
                        </a>
                        <div class="cursor-pointer w-[100%] rtl:mr-4 ltr:ml-4 pt-6 flex" data-sheet-control="delete__box__@item.Id">
                            <span class="icon-Trash text-xl text-red-600"></span>
                            <span class="font-semibold text-base mx-2 text-red-600">@GlobalLocalizer["Delete"]</span>
                        </div>
                    </div>

                </dt:bottom-sheet>

                <dt:bottom-sheet id="user__detail__@item.Id" min-height="70">
                    <div class="w-[100%] flex flex-col justify-between pb-10 rtl:mr-auto items-end ltr:ml-auto items-start  ">
                        <div class="user__profile  text-center flex flex-col justify-center w-full items-center mb-6">
                            <div class="mb-4">
                                @if (item.PicUrl == null)
                                {
                                    <img class="w-[101px] h-[101px]  rounded-full" src="~/DTCMS/assets/images/no-pic/NoProfilePic.svg" />
                                }
                                else
                                {
                                    <img class="w-[101px] h-[101px]  rounded-full" src="@item.PicUrl" />
                                }

                            </div>
                            <h5 class=" text-gray-900 text-base font-semibold leading-normal">@item.Name @item.Family  </h5>
                        </div>

                        <div class="py-2 flex-col justify-start  flex w-full">
                            <div class="mb-2 text-gray-500 text-sm font-normal  leading-tight">@UserResLocalizer["UserRole"]  </div>
                            <div class="text-gray-900 text-sm font-normal  leading-tight">
                                @item.UserRole.GetDisplayName()
                            </div>
                        </div>


                        <div class="py-2 flex-col justify-start  flex w-full">
                            <div class="mb-2 text-gray-500 text-sm font-normal  leading-tight">@UserResLocalizer["RegisterDate"]  </div>
                            <div class="text-gray-900 text-sm font-normal  leading-tight">
                                @item.CreateDate
                            </div>
                        </div>

                        <div class="py-2 flex-col justify-start  flex w-full">
                            <div class="mb-2 text-gray-500 text-sm font-normal  leading-tight">@UserResLocalizer["LastLogin"]  </div>
                            <div class="text-gray-900 text-sm font-normal  leading-tight">
                                @if (item.LastLoginDate == default(DateTime))
                                {
                                    <span class="inline-flex items-center px-2.5 py-0.5 rounded-full   bg-yellow-100 text-yellow-800 text-xs font-semibold ">

                                        @Localizer["NotLogin"]

                                    </span>
                                }
                                else
                                {
                                    @item.LastLoginDate
                                }
                            </div>
                        </div>

                    </div>

                </dt:bottom-sheet>


                <dt:bottom-sheet id="change__pass__@item.Id" min-height="38">
                    <div class="w-[100%] flex flex-col justify-between pb-10 rtl:mr-auto items-end ltr:ml-auto items-start  ">
                        
                        <vc:change-password user-id="@item.Id"></vc:change-password>
                    </div>

                </dt:bottom-sheet>


                <vc:delete-single title="@item.Name @item.Family" id="@item.Id"></vc:delete-single>


            </dt:grid-card>
        }
        <dt:pagination page="@Model.PageFilter.arg.PageNumber" size="@Model.PageFilter.arg.PageSize" total="@Model.Items.Count"></dt:pagination>



    </main>

</dt:grid-container>
