@model VCSEOModel
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="@Model.FavIcon">
<title> @Model.SEOTitle </title>
<meta name="theme-color" content="#000000">
<meta name="description" content="@Model.SEODesc" />
<meta property="og:site_name" content="@Model.SiteName">
<meta property="og:locale" content="@System.Globalization.CultureInfo.CurrentCulture.Name">
<meta property="og:brand" content="@Model.SiteName">
<meta property="og:title" content="@Model.SEOTitle ">
<meta property="og:type" content="website">
<meta property="og:url" content="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")" />
<meta property="og:description" content="@Model.SEODesc" />
<meta property="og:article:published_time" content="@Model.Date" />
<meta property="og:image" content="@Model.SEOPic">
<meta property="twitter:title" content="@Model.SEOTitle">
<meta property="twitter:description" content="@Model.SEODesc">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:image:src" content="@Model.SEOPic">
<meta name="generator" content="DariaCMS Portal Management System">
<meta name="copyright" content="© @DateTime.Now.Year @Model.SiteName">
<script type="application/ld+json">{"@@context":"http://schema.org/","@@type":"WebSite","name": "@Model.SEOTitle","url":"@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"}</script>