@model SEOBottomSheetViewModel
@inject IStringLocalizer<ResourceLibrary.Panel.Common.Global.Global> GlobalLocalizer;

<dt:bottom-sheet id="seo__bottomsheet" min-height="100" disable-drag="true" title="@GlobalLocalizer["SEO"]" Level="2">
    <div class="h-screen">

        <div class="mb-10">
            <dt:input-text asp-for="@Model.SEOTitle" name="Items.SeoTitle" target-class="seo__title" has-slug="false" has-counter="true" counter-target="seo__title__counter"></dt:input-text>
            <div class="flex items-center justify-between w-full mt-2">
                <span class="font-light text-xs text-gray-700 w-full inline-block text-right ltr:text-left">
                    @GlobalLocalizer["SEOTitleMaxLenght"]
                </span>
                <span class="font-light text-xs text-gray-700 w-full inline-block text-left ltr:text-right">
                    <b> <span class="seo__title__counter">0</span>/60</b>
                </span>
            </div>
        </div>

        <div class="mb-8">
            <dt:text-area asp-for="@Model.SEODesc" target-class="seo__desc" has-slug="false" has-counter="true" counter-target="seo__desc__counter"></dt:text-area>
            <div class="flex items-center justify-between w-full mt-2">
                <span class="font-light text-xs text-gray-700 w-full inline-block text-right ltr:text-left">
                    @GlobalLocalizer["SEODescMaxLenght"]
                </span>
                <span class="font-light text-xs text-gray-700 w-full inline-block text-left ltr:text-right">
                    <b> <span class="seo__desc__counter">0</span>/160 </b>
                </span>
            </div>
        </div>

        <div class="seo__viewer flex flex-col items-start w-full rounded-md p-4 bg-gray-50 leading-6">
            <svg width="74"
                 height="24"
                 viewBox="0 0 74 24"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M9.24011 8.19V10.65H15.1201C14.9401 12.03 14.4801 13.04 13.7801 13.75C12.9201 14.61 11.5801 15.55 9.24011 15.55C5.62011 15.55 2.79011 12.63 2.79011 9.01C2.79011 5.39 5.62011 2.47 9.24011 2.47C11.1901 2.47 12.6201 3.24 13.6701 4.23L15.4001 2.5C13.9401 1.08 11.9801 0 9.24011 0C4.28011 0 0.110107 4.04 0.110107 9C0.110107 13.96 4.28011 18 9.24011 18C11.9201 18 13.9401 17.12 15.5201 15.48C17.1401 13.86 17.6501 11.57 17.6501 9.73C17.6501 9.16 17.6101 8.63 17.5201 8.19H9.24011Z"
                      fill="#4285F4" />
                <path d="M24.9999 6.19043C21.7899 6.19043 19.1699 8.63043 19.1699 12.0004C19.1699 15.3404 21.7899 17.8104 24.9999 17.8104C28.2099 17.8104 30.8299 15.3504 30.8299 12.0004C30.8299 8.63043 28.2099 6.19043 24.9999 6.19043ZM24.9999 15.5204C23.2399 15.5204 21.7199 14.0704 21.7199 12.0004C21.7199 9.91043 23.2399 8.48043 24.9999 8.48043C26.7599 8.48043 28.2799 9.91043 28.2799 12.0004C28.2799 14.0704 26.7599 15.5204 24.9999 15.5204Z"
                      fill="#EA4335" />
                <path d="M53.58 7.49043H53.49C52.92 6.81043 51.82 6.19043 50.43 6.19043C47.53 6.19043 45 8.72043 45 12.0004C45 15.2604 47.53 17.8104 50.43 17.8104C51.82 17.8104 52.92 17.1904 53.49 16.4904H53.58V17.3004C53.58 19.5204 52.39 20.7104 50.48 20.7104C48.92 20.7104 47.95 19.5904 47.55 18.6404L45.33 19.5604C45.97 21.1004 47.66 22.9904 50.48 22.9904C53.47 22.9904 56 21.2304 56 16.9404V6.49043H53.58V7.49043ZM50.65 15.5204C48.89 15.5204 47.55 14.0204 47.55 12.0004C47.55 9.95043 48.89 8.48043 50.65 8.48043C52.39 8.48043 53.75 9.98043 53.75 12.0204C53.76 14.0504 52.39 15.5204 50.65 15.5204Z"
                      fill="#4285F4" />
                <path d="M37.9999 6.19043C34.7899 6.19043 32.1699 8.63043 32.1699 12.0004C32.1699 15.3404 34.7899 17.8104 37.9999 17.8104C41.2099 17.8104 43.8299 15.3504 43.8299 12.0004C43.8299 8.63043 41.2099 6.19043 37.9999 6.19043ZM37.9999 15.5204C36.2399 15.5204 34.7199 14.0704 34.7199 12.0004C34.7199 9.91043 36.2399 8.48043 37.9999 8.48043C39.7599 8.48043 41.2799 9.91043 41.2799 12.0004C41.2799 14.0704 39.7599 15.5204 37.9999 15.5204Z"
                      fill="#FBBC05" />
                <path d="M58 0.240234H60.51V17.8102H58V0.240234Z" fill="#34A853" />
                <path d="M68.26 15.5204C66.96 15.5204 66.04 14.9304 65.44 13.7604L73.21 10.5504L72.95 9.89043C72.47 8.59043 70.99 6.19043 67.98 6.19043C64.99 6.19043 62.5 8.54043 62.5 12.0004C62.5 15.2604 64.96 17.8104 68.26 17.8104C70.92 17.8104 72.46 16.1804 73.1 15.2404L71.12 13.9204C70.46 14.8804 69.56 15.5204 68.26 15.5204ZM68.08 8.37043C69.11 8.37043 69.99 8.90043 70.28 9.65043L65.03 11.8204C65.03 9.38043 66.76 8.37043 68.08 8.37043Z"
                      fill="#EA4335" />
            </svg>
            <a dir="ltr" href="#" class="break-words w-full font-light text-xs text-blue-600 mt-4 mb-2">
                <dt:base-url></dt:base-url>@Model.PageRoute<span class="page__slug"></span>
            </a>
            <h3 class="font-bold text-sm seo__title break-words w-full"></h3>
            <p class="break-words seo__desc font-light text-xs text-gray-600 text-justify w-full">
            </p>
        </div>
    </div>


</dt:bottom-sheet>