@model AdminbarVCModel



<link href="~/adminbar/dist/css/styles.css" rel="stylesheet" asp-append-version="true" />

<div class="adminbar">
    <div class="adminbar__content">

        <div class="right">
            <a href="/dtcms" class="admin__icon">
                <svg width="27" height="30" viewBox="0 0 27 30" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M15.1536 0.791088C14.3882 0.354793 13.4494 0.354794 12.684 0.791088L2.09633 6.82626C1.31812 7.26985 0.837646 8.09678 0.837646 8.99254V21.008C0.837646 21.9037 1.31812 22.7306 2.09633 23.1742L12.684 29.2094C13.4494 29.6457 14.3882 29.6457 15.1536 29.2094L17.0031 28.1552H16.1135C16.2509 26.3231 16.5715 24.3994 17.0753 22.3841C17.6021 20.346 18.2433 18.3765 18.999 16.4757C19.7547 14.552 20.5792 12.7772 21.4723 11.1513C22.3883 9.5024 23.2815 8.1627 24.1517 7.13216H12.5753V4.3497H21.3966L15.1536 0.791088ZM26.8401 8.11401C26.3303 8.81353 25.7891 9.64274 25.2166 10.6016C24.3006 12.1131 23.4303 13.8192 22.6059 15.72C21.8044 17.5979 21.1059 19.6131 20.5105 21.7658C20.0693 23.407 19.7573 25.0482 19.5745 26.6894L25.7413 23.1742C26.5195 22.7306 27 21.9037 27 21.008V8.99254C27 8.68758 26.9443 8.3906 26.8401 8.11401Z"
                          fill="#4F46E5" />
                </svg>
                <span>
                    داشبورد مدیریت
                </span>

            </a>
        </div>
        <div class="left">
            <ul>
                @if (Model.List == true)
                {
                    <li>
                        <a href="/dtcms/@Model.Route">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_3364_11426" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16">
                                    <rect width="16" height="16" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_3364_11426)">
                                    <path d="M2.33325 12.3332V11.3332H13.6666V12.3332H2.33325ZM2.33325 9.7755V8.7755H13.6666V9.7755H2.33325ZM2.33325 7.22417V6.22417H13.6666V7.22417H2.33325ZM2.33325 4.6665V3.6665H13.6666V4.6665H2.33325Z" fill="white" />
                                </g>
                            </svg>



                            <span class="text">
                                لیست
                            </span>
                        </a>
                    </li>
                }


                @if (Model.Add == true)
                {
                    <li>
                        <a href="/dtcms/@Model.Route/upsert?IsReturn=true">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.00008 2.6665V13.3332M13.3334 7.99984L2.66675 7.99984" stroke="white" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>


                            <span class="text">
                                ثبت
                            </span>
                        </a>
                    </li>
                }

                @if (Model.Delete == true)
                {
                    <li>
                        <button data-id="@Model.Id" data-route="@Model.Route" id="delete-btn">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.6667 4.66667L12.0885 12.7617C12.0387 13.4594 11.4581 14 10.7586 14H5.24157C4.54206 14 3.96147 13.4594 3.91163 12.7617L3.33341 4.66667M6.66675 7.33333V11.3333M9.33341 7.33333V11.3333M10.0001 4.66667V2.66667C10.0001 2.29848 9.7016 2 9.33341 2H6.66675C6.29856 2 6.00008 2.29848 6.00008 2.66667V4.66667M2.66675 4.66667H13.3334" stroke="white" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>



                            <span class="text">
                                حذف
                            </span>
                        </button>
                        @Html.AntiForgeryToken()
                    </li>
                }




                @if (Model.Edit == true)
                {
                    <li>
                        <a href="/dtcms/@Model.Route/upsert?id=@Model.Id&IsReturn=true">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.5118 2.48816L14.2189 1.78105L14.2189 1.78105L13.5118 2.48816ZM4.33333 14.0237V15.0237C4.59855 15.0237 4.8529 14.9183 5.04044 14.7308L4.33333 14.0237ZM2 14.0237H1C1 14.5759 1.44772 15.0237 2 15.0237V14.0237ZM2 11.6429L1.29289 10.9358C1.10536 11.1234 1 11.3777 1 11.6429H2ZM11.8619 3.19526C12.1222 2.93491 12.5444 2.93491 12.8047 3.19526L14.2189 1.78105C13.1775 0.73965 11.4891 0.73965 10.4477 1.78105L11.8619 3.19526ZM12.8047 3.19526C13.065 3.45561 13.065 3.87772 12.8047 4.13807L14.2189 5.55228C15.2603 4.51089 15.2603 2.82245 14.2189 1.78105L12.8047 3.19526ZM12.8047 4.13807L3.62623 13.3165L5.04044 14.7308L14.2189 5.55228L12.8047 4.13807ZM4.33333 13.0237H2V15.0237H4.33333V13.0237ZM10.4477 1.78105L1.29289 10.9358L2.70711 12.35L11.8619 3.19526L10.4477 1.78105ZM1 11.6429V14.0237H3V11.6429H1ZM9.44768 4.19526L11.8047 6.55228L13.2189 5.13807L10.8619 2.78105L9.44768 4.19526Z" fill="white" />
                            </svg>

                            <span class="text">
                                ویرایش
                            </span>
                        </a>
                    </li>
                }


                @if (Model.Custom != null)
                {
                    @foreach (var item in Model.Custom)
                    {
                        <li>
                            <a href="@item.Link">
                                <span class="material-symbols-outlined">@item.Icon</span>

                                <span class="text">
                                    @item.Text
                                </span>
                            </a>
                        </li>
                    }
                }


                <li>
                    <a href="/dtcms/profile">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.6666 4.66667C10.6666 6.13943 9.47268 7.33333 7.99992 7.33333C6.52716 7.33333 5.33325 6.13943 5.33325 4.66667C5.33325 3.19391 6.52716 2 7.99992 2C9.47268 2 10.6666 3.19391 10.6666 4.66667Z" stroke="white" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M7.99992 9.33333C5.42259 9.33333 3.33325 11.4227 3.33325 14H12.6666C12.6666 11.4227 10.5772 9.33333 7.99992 9.33333Z" stroke="white" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>


                        <span class="text">
                            پروفایل
                        </span>
                    </a>
                </li>
 

            </ul>
        </div>
    </div>
</div>

<button onclick="toggleEditMode()" class="edit__content__fix__btn">
   

    <span class="text">
        @if (Model.IsEditDisabled)
        {
            <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="56" height="56" rx="8" fill="#16C37A" />
                <path d="M18.31 39.2801C17.395 39.2801 16.54 38.9651 15.925 38.3801C15.145 37.6451 14.77 36.5351 14.905 35.3351L15.46 30.4751C15.565 29.5601 16.12 28.3451 16.765 27.6851L29.08 14.6501C32.155 11.3951 35.365 11.3051 38.62 14.3801C41.875 17.4551 41.965 20.6651 38.89 23.9201L26.575 36.9551C25.945 37.6301 24.775 38.2601 23.86 38.4101L19.03 39.2351C18.775 39.2501 18.55 39.2801 18.31 39.2801ZM33.895 14.3651C32.74 14.3651 31.735 15.0851 30.715 16.1651L18.4 29.2151C18.1 29.5301 17.755 30.2801 17.695 30.7151L17.14 35.5751C17.08 36.0701 17.2 36.4751 17.47 36.7301C17.74 36.9851 18.145 37.0751 18.64 37.0001L23.47 36.1751C23.905 36.1001 24.625 35.7101 24.925 35.3951L37.24 22.3601C39.1 20.3801 39.775 18.5501 37.06 16.0001C35.86 14.8451 34.825 14.3651 33.895 14.3651Z" fill="white" />
                <path d="M36.01 26.4253C35.98 26.4253 35.935 26.4253 35.905 26.4253C31.225 25.9603 27.46 22.4053 26.74 17.7553C26.65 17.1403 27.07 16.5703 27.685 16.4653C28.3 16.3753 28.87 16.7953 28.975 17.4103C29.545 21.0403 32.485 23.8303 36.145 24.1903C36.76 24.2503 37.21 24.8053 37.15 25.4203C37.075 25.9903 36.58 26.4253 36.01 26.4253Z" fill="white" />
                <path d="M41.5 44.125H14.5C13.885 44.125 13.375 43.615 13.375 43C13.375 42.385 13.885 41.875 14.5 41.875H41.5C42.115 41.875 42.625 42.385 42.625 43C42.625 43.615 42.115 44.125 41.5 44.125Z" fill="white" />
            </svg>

        }
        else
        {

            <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="56" height="56" rx="8" fill="#E9BD48" />
                <rect width="36" height="36" transform="translate(10 10)" fill="#E9BD48" />
                <path d="M18.31 39.2801C17.395 39.2801 16.54 38.9651 15.925 38.3801C15.145 37.6451 14.77 36.5351 14.905 35.3351L15.46 30.4751C15.565 29.5601 16.12 28.3451 16.765 27.6851L29.08 14.6501C32.155 11.3951 35.365 11.3051 38.62 14.3801C41.875 17.4551 41.965 20.6651 38.89 23.9201L26.575 36.9551C25.945 37.6301 24.775 38.2601 23.86 38.4101L19.03 39.2351C18.775 39.2501 18.55 39.2801 18.31 39.2801ZM33.895 14.3651C32.74 14.3651 31.735 15.0851 30.715 16.1651L18.4 29.2151C18.1 29.5301 17.755 30.2801 17.695 30.7151L17.14 35.5751C17.08 36.0701 17.2 36.4751 17.47 36.7301C17.74 36.9851 18.145 37.0751 18.64 37.0001L23.47 36.1751C23.905 36.1001 24.625 35.7101 24.925 35.3951L37.24 22.3601C39.1 20.3801 39.775 18.5501 37.06 16.0001C35.86 14.8451 34.825 14.3651 33.895 14.3651Z" fill="white" />
                <path d="M36.01 26.4253C35.98 26.4253 35.935 26.4253 35.905 26.4253C31.225 25.9603 27.46 22.4053 26.74 17.7553C26.65 17.1403 27.07 16.5703 27.685 16.4653C28.3 16.3753 28.87 16.7953 28.975 17.4103C29.545 21.0403 32.485 23.8303 36.145 24.1903C36.76 24.2503 37.21 24.8053 37.15 25.4203C37.075 25.9903 36.58 26.4253 36.01 26.4253Z" fill="white" />
                <path d="M41.5 44.125H14.5C13.885 44.125 13.375 43.615 13.375 43C13.375 42.385 13.885 41.875 14.5 41.875H41.5C42.115 41.875 42.625 42.385 42.625 43C42.625 43.615 42.115 44.125 41.5 44.125Z" fill="white" />
                <rect x="12.8447" y="12" width="40" height="3" rx="1" transform="rotate(37.9449 12.8447 12)" fill="#3A3333" />
            </svg>

      

        }

    </span>
</button>

<script src="~/adminbar/dist/dist.js" asp-append-version="true"></script>