@page
@model IndexModel
@inject IStringLocalizer<ResourceLibrary.Panel.Admin.Settings.Settings> Localizer;
 
@{
    ViewData["Title"] = Localizer["Title"];
    Layout = "_DashLayout";
 
}
 
<main>
    <ul class="bg-white rounded-md mb-8">
        <li class=" px-4 py-4 border-solid border-b-[1px] border-gray-100">

            <a href="/dtcms/settings/general" class="flex items-center justify-between w-full">
                <h5 class="text-gray-700 text-sm font-normal leading-tight">@Localizer["GeneralTitle"]</h5>
                <div class="w-5 h5">

                    <span class="icon-Chevron-left  text-gray-400 font-bold inline-block ltr:rotate-180"></span>
 
                </div>
            </a>
        </li>

        <li class=" px-4 py-4 border-solid border-b-[1px] border-gray-100">

            <a href="/dtcms/settings/seo" class="flex items-center justify-between w-full">
                <h5 class="text-gray-700 text-sm font-normal leading-tight">@Localizer["SEOTitle"]</h5>
                <div class="w-5 h5">

                    <span class="icon-Chevron-left  text-gray-400 font-bold inline-block ltr:rotate-180"></span>

                </div>
            </a>
        </li>


  
 
        <li class=" px-4 py-4 border-solid border-b-[1px] border-gray-100">

            <a href="/dtcms/settings/sms" class="flex items-center justify-between w-full">
                <h5 class="text-gray-700 text-sm font-normal leading-tight">@Localizer["SMSTitle"]</h5>
                <div class="w-5 h5">

                    <span class="icon-Chevron-left  text-gray-400 font-bold inline-block ltr:rotate-180"></span>

                </div>
            </a>
        </li> 

        <li class=" px-4 py-4 border-solid border-b-[1px] border-gray-100">

            <a href="/dtcms/settings/addresscall" class="flex items-center justify-between w-full">
                <h5 class="text-gray-700 text-sm font-normal leading-tight">@Localizer["AddressCallTitle"]</h5>
                <div class="w-5 h5">

                    <span class="icon-Chevron-left  text-gray-400 font-bold inline-block ltr:rotate-180"></span>

                </div>
            </a>
        </li>

        <li class=" px-4 py-4 border-solid border-b-[1px] border-gray-100">

            <a href="/dtcms/settings/Social" class="flex items-center justify-between w-full">
                <h5 class="text-gray-700 text-sm font-normal leading-tight">@Localizer["SocialNetworksTitle"]</h5>
                <div class="w-5 h5">

                    <span class="icon-Chevron-left  text-gray-400 font-bold inline-block ltr:rotate-180"></span>

                </div>
            </a>
        </li>
        <li class=" px-4 py-4 border-solid border-b-[1px] border-gray-100">

            <a href="/dtcms/settings/AI" class="flex items-center justify-between w-full">
                <h5 class="text-gray-700 text-sm font-normal leading-tight">هوش مصنوعی</h5>
                <div class="w-5 h5">

                    <span class="icon-Chevron-left  text-gray-400 font-bold inline-block ltr:rotate-180"></span>

                </div>
            </a>
        </li>
   @*     <li class=" px-4 py-4  ">

            <a href="/dtcms/settings/session" class="flex items-center justify-between w-full">
                <h5 class="text-gray-700 text-sm font-normal leading-tight">@Localizer["SecurityTitle"]</h5>
                <div class="w-5 h5">

                    <span class="icon-Chevron-left  text-gray-400 font-bold inline-block ltr:rotate-180"></span>

                </div>
            </a>
        </li>*@

   

       
    </ul>

    <ul class="bg-white rounded-md mb-8">
        <li class=" px-4 py-4 b ">

            <a href="/dtcms/settings/InjectCode" class="flex items-center justify-between w-full">
                <h5 class="text-gray-700 text-sm font-normal leading-tight">@Localizer["InjectCodeTitle"]</h5>
                <div class="w-5 h5">

                    <span class="icon-Chevron-left  text-gray-400 font-bold inline-block ltr:rotate-180"></span>

                </div>
            </a>
        </li>
    </ul>
</main>