 
@using Services.Services.CMS.GlobalSetting;
@using SharedModels.Dtos;
@inject IGlobalSettingService GlobalSettingService
@inject IStringLocalizer<ResourceLibrary.Panel.Admin.Layout.Layout> Localizer;
@{
    var Lang = System.Globalization.CultureInfo.CurrentCulture.Name;
    bool isRTL = System.Globalization.CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft;

    bool? HasBottomSheetMenu = ViewBag.HasBottomSheetMenu;
    if (HasBottomSheetMenu == null)
        HasBottomSheetMenu = true;

    List<SelectListItem> TitleList = new List<SelectListItem>();
    TitleList = ViewBag.TitleList;

    var BaseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}/";

      // Retrieve global and specific settings
    var globalSettingResponse = GlobalSettingService.GetGlobalSetting();
    var GlobalSetting = globalSettingResponse.IsSuccess ? globalSettingResponse.Model : new GetGlobalSettingDto();
}
<!DOCTYPE html>
<html lang="@Lang">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link async href="~/DTCMS/bundle/css/bundle.css" rel="stylesheet" asp-append-version="true">
    @*  <link href="~/DTCMS/bundle/css/mce.css" id="mceStyles" rel="stylesheet" asp-append-version="true">*@
    <link rel="manifest" href="/DTCMS/manifest/manifest.json">
    <meta name="theme-color" content="#3986D1">

</head>

<body dir='@(isRTL == true? "rtl":"ltr")' base-url="@BaseUrl" data-ai-api="@GlobalSetting.AIToken" data-ai-model="@GlobalSetting.AIModel" data-ai-desc="@GlobalSetting.AIPreDescription">
    <main>
        <!-- show__aside__menu -->
        @* { show__aside__menu: showSideBar} *@
        <div class="site__main__content ltr:flex-row" id="sideMenuContainer">
            <div class="right">
                <div class="h-full p-2 px-3 overflow-y-auto bg-gray-800 menu">
                    <div class="flex items-start justify-between w-100 h-16 ">
                        <a href="/dtcms" class="inline">
                            <svg width="146" height="44" viewBox="0 0 146 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="102.387" width="43.6123" height="43.6123" fill="black"/>
                                <rect x="105.164" y="2.77585" width="38.0357" height="38.0357" fill="white"/>
                                <circle cx="130.549" cy="11.5232" r="3.77215" fill="#F19100"/>
                                <path d="M115.728 33.8239V11.1252H124.684C126.398 11.1252 127.861 11.4318 129.073 12.0451C130.292 12.651 131.219 13.5118 131.854 14.6275C132.497 15.7358 132.819 17.04 132.819 18.5399C132.819 20.0473 132.494 21.344 131.843 22.4302C131.193 23.509 130.251 24.3365 129.017 24.9128C127.791 25.4892 126.305 25.7773 124.562 25.7773H118.566V21.9203H123.786C124.702 21.9203 125.463 21.7947 126.069 21.5435C126.675 21.2923 127.126 20.9154 127.421 20.413C127.724 19.9106 127.876 19.2862 127.876 18.5399C127.876 17.7862 127.724 17.1508 127.421 16.6336C127.126 16.1164 126.671 15.7247 126.058 15.4587C125.452 15.1854 124.687 15.0487 123.764 15.0487H120.527V33.8239H115.728ZM127.986 23.4942L133.628 33.8239H128.33L122.81 23.4942H127.986Z" fill="black"/>
                                <path d="M2.22794 36.086C1.96473 36.086 1.72513 36.0422 1.50916 35.9544C1.29319 35.8599 1.10421 35.7351 0.942236 35.5798C0.787006 35.4246 0.665522 35.2424 0.577783 35.0332C0.496794 34.8172 0.456299 34.5844 0.456299 34.3346V32.6946H1.0131V34.3346C1.0131 34.6586 1.11434 34.9218 1.31681 35.1243C1.51929 35.3268 1.78925 35.428 2.12671 35.428H8.79822C8.99394 35.428 9.16267 35.3571 9.3044 35.2154C9.44613 35.0737 9.517 34.9049 9.517 34.7092V34.041C9.517 33.8251 9.44276 33.6428 9.29428 33.4944C9.1458 33.3459 8.96357 33.2716 8.7476 33.2716H4.18181L3.77687 32.8869L6.32804 29.9005L6.73298 30.275L4.70825 32.6642H8.73747C8.9197 32.6642 9.0918 32.7013 9.25378 32.7756C9.41576 32.8431 9.55749 32.9376 9.67898 33.059C9.80046 33.1805 9.89495 33.3223 9.96244 33.4842C10.0367 33.6462 10.0738 33.8183 10.0738 34.0006V34.608C10.0738 34.8374 10.1514 35.0332 10.3066 35.1951C10.4686 35.3504 10.6643 35.428 10.8938 35.428H11.1975C11.238 35.428 11.2718 35.4449 11.2988 35.4786C11.3258 35.5056 11.3393 35.5394 11.3393 35.5798V35.9443C11.3393 36.0388 11.292 36.086 11.1975 36.086H10.9951C10.7521 36.086 10.5294 36.0287 10.3269 35.9139C10.1244 35.7992 9.95907 35.6271 9.83083 35.3976C9.70935 35.6271 9.55412 35.7992 9.36514 35.9139C9.18292 36.0287 8.97369 36.086 8.73747 36.086H2.22794ZM3.47316 31.7025L5.39666 29.4145L5.72062 29.6879L3.77687 31.9758L3.47316 31.7025Z" fill="white"/>
                                <path d="M12.5604 31.9049H13.3197V31.1457H12.5604V31.9049ZM14.737 35.9443C14.737 36.0388 14.6898 36.086 14.5953 36.086H14.0081C13.8934 36.086 13.7786 36.0692 13.6639 36.0354C13.5492 36.0017 13.4412 35.9544 13.34 35.8937C13.2387 35.8329 13.151 35.7621 13.0767 35.6811C13.0025 35.5933 12.9519 35.4989 12.9249 35.3976C12.8034 35.6001 12.638 35.7654 12.4288 35.8937C12.2263 36.0219 12.007 36.086 11.7708 36.086H11.1937C11.0992 36.086 11.052 36.0388 11.052 35.9443V35.5697C11.052 35.4752 11.0992 35.428 11.1937 35.428H11.7708C11.9868 35.428 12.1757 35.3605 12.3377 35.2255C12.4997 35.0905 12.6009 34.9218 12.6414 34.7193L12.9451 33.1907L13.4918 33.2818L13.2387 34.5574C13.2185 34.6721 13.2252 34.7834 13.259 34.8914C13.2927 34.9927 13.3433 35.0838 13.4108 35.1648C13.4851 35.2458 13.5728 35.3099 13.674 35.3571C13.782 35.4044 13.8968 35.428 14.0182 35.428H14.5953C14.6898 35.428 14.737 35.4752 14.737 35.5697V35.9443Z" fill="white"/>
                                <path d="M15.2734 38.0601H16.0327V37.3009H15.2734V38.0601ZM16.5591 38.0601H17.3184V37.3009H16.5591V38.0601ZM18.1182 35.9443C18.1182 36.0388 18.0709 36.086 17.9764 36.086H17.3893C17.2745 36.086 17.1598 36.0692 17.0451 36.0354C16.9303 36.0017 16.8223 35.9544 16.7211 35.8937C16.6199 35.8329 16.5321 35.7621 16.4579 35.6811C16.3836 35.5933 16.333 35.4989 16.306 35.3976C16.1846 35.6001 16.0192 35.7654 15.81 35.8937C15.6075 36.0219 15.3882 36.086 15.1519 36.086H14.5749C14.4804 36.086 14.4332 36.0388 14.4332 35.9443V35.5697C14.4332 35.4752 14.4804 35.428 14.5749 35.428H15.1519C15.3679 35.428 15.5569 35.3605 15.7189 35.2255C15.8808 35.0905 15.9821 34.9218 16.0226 34.7193L16.3263 33.1907L16.873 33.2818L16.6199 34.5574C16.5996 34.6721 16.6064 34.7834 16.6401 34.8914C16.6739 34.9927 16.7245 35.0838 16.792 35.1648C16.8662 35.2458 16.954 35.3099 17.0552 35.3571C17.1632 35.4044 17.2779 35.428 17.3994 35.428H17.9764C18.0709 35.428 18.1182 35.4752 18.1182 35.5697V35.9443Z" fill="white"/>
                                <path d="M18.7047 31.9049H19.464V31.1457H18.7047V31.9049ZM19.9904 31.9049H20.7497V31.1457H19.9904V31.9049ZM21.5191 35.9443C21.5191 36.0388 21.4719 36.086 21.3774 36.086H20.7902C20.6755 36.086 20.5607 36.0692 20.446 36.0354C20.3313 36.0017 20.2233 35.9544 20.122 35.8937C20.0208 35.8329 19.9331 35.7621 19.8588 35.6811C19.7846 35.5933 19.734 35.4989 19.707 35.3976C19.5855 35.6001 19.4201 35.7654 19.2109 35.8937C19.0084 36.0219 18.7891 36.086 18.5529 36.086H17.9758C17.8813 36.086 17.8341 36.0388 17.8341 35.9443V35.5697C17.8341 35.4752 17.8813 35.428 17.9758 35.428H18.5529C18.7688 35.428 18.9578 35.3605 19.1198 35.2255C19.2818 35.0905 19.383 34.9218 19.4235 34.7193L19.7272 33.1907L20.2739 33.2818L20.0208 34.5574C20.0005 34.6721 20.0073 34.7834 20.041 34.8914C20.0748 34.9927 20.1254 35.0838 20.1929 35.1648C20.2671 35.2458 20.3549 35.3099 20.4561 35.3571C20.5641 35.4044 20.6788 35.428 20.8003 35.428H21.3774C21.4719 35.428 21.5191 35.4752 21.5191 35.5697V35.9443Z" fill="white"/>
                                <path d="M22.3182 33.2716L21.9032 32.8869L24.4543 29.9005L24.8593 30.275L22.8345 32.6642H26.8739C27.0561 32.6642 27.2282 32.7013 27.3902 32.7756C27.5522 32.8431 27.6939 32.9376 27.8154 33.059C27.9369 33.1805 28.0314 33.3223 28.0989 33.4842C28.1731 33.6462 28.2102 33.8183 28.2102 34.0006V34.7497C28.2102 34.9319 28.1731 35.104 28.0989 35.266C28.0314 35.428 27.9369 35.5697 27.8154 35.6912C27.6939 35.8127 27.5522 35.9106 27.3902 35.9848C27.2282 36.0523 27.0561 36.086 26.8739 36.086H21.3767C21.3362 36.086 21.3025 36.0725 21.2755 36.0455C21.2485 36.0118 21.235 35.9747 21.235 35.9342V35.5697C21.235 35.4752 21.2822 35.428 21.3767 35.428H26.9346C27.1304 35.428 27.2991 35.3571 27.4408 35.2154C27.5826 35.0737 27.6534 34.9049 27.6534 34.7092V34.041C27.6534 33.8251 27.5792 33.6428 27.4307 33.4944C27.2822 33.3459 27.1 33.2716 26.884 33.2716H22.3182Z" fill="white"/>
                                <path d="M27.7384 38.5866L27.5561 38.0095L28.7102 37.635C29.0139 37.5337 29.2569 37.3549 29.4391 37.0984C29.6214 36.8419 29.7125 36.5517 29.7125 36.2278V33.1198H30.2693V36.1873C30.2693 36.4167 30.2355 36.6361 30.168 36.8453C30.1006 37.0613 30.0027 37.257 29.8745 37.4325C29.7462 37.608 29.591 37.7632 29.4088 37.8982C29.2333 38.0399 29.0376 38.1479 28.8216 38.2221L27.7384 38.5866Z" fill="white"/>
                                <path d="M33.8998 35.9443C33.8998 36.0388 33.8526 36.086 33.7581 36.086H33.3531C33.1507 36.086 32.9583 36.0489 32.7761 35.9747C32.6006 35.8937 32.4454 35.7891 32.3104 35.6608C32.1822 35.5259 32.0776 35.3706 31.9966 35.1951C31.9223 35.0129 31.8852 34.8206 31.8852 34.6181V29.5056H32.442V34.6181C32.442 34.8408 32.5196 35.0332 32.6748 35.1951C32.8368 35.3504 33.0292 35.428 33.2519 35.428H33.7581C33.7986 35.428 33.8323 35.4449 33.8593 35.4786C33.8863 35.5056 33.8998 35.5394 33.8998 35.5798V35.9443Z" fill="white"/>
                                <path d="M36.1437 35.428H37.7129V33.9904C37.7129 33.788 37.642 33.6192 37.5003 33.4842C37.3586 33.3425 37.1865 33.2716 36.984 33.2716H36.3766C36.2011 33.2716 36.0458 33.3256 35.9109 33.4336C35.7826 33.5416 35.7016 33.68 35.6679 33.8487L35.516 34.6687C35.4958 34.77 35.4992 34.8678 35.5262 34.9623C35.5532 35.05 35.5937 35.131 35.6477 35.2053C35.7084 35.2728 35.7793 35.3268 35.8602 35.3672C35.948 35.4077 36.0425 35.428 36.1437 35.428ZM34.939 34.7193L35.1415 33.6766C35.1685 33.5281 35.2191 33.3931 35.2933 33.2716C35.3676 33.1502 35.4587 33.0456 35.5667 32.9578C35.6814 32.8633 35.8063 32.7925 35.9412 32.7452C36.0762 32.6912 36.218 32.6642 36.3664 32.6642H36.9334C37.1156 32.6642 37.2877 32.7013 37.4497 32.7756C37.6116 32.8431 37.7534 32.9376 37.8749 33.059C37.9963 33.1738 38.0908 33.3121 38.1583 33.4741C38.2326 33.6361 38.2697 33.8082 38.2697 33.9904V35.2863C38.2697 35.536 38.1988 35.7317 38.0571 35.8734C37.9154 36.0152 37.7163 36.086 37.4598 36.086H36.1943C35.9784 36.086 35.7793 36.032 35.597 35.9241C35.4148 35.8161 35.2764 35.6406 35.182 35.3976C35.0672 35.6406 34.9052 35.8161 34.696 35.9241C34.4936 36.032 34.281 36.086 34.0582 36.086H33.7545C33.66 36.086 33.6128 36.0388 33.6128 35.9443V35.5697C33.6128 35.536 33.6263 35.5056 33.6533 35.4786C33.6803 35.4449 33.714 35.428 33.7545 35.428H34.0785C34.2877 35.428 34.4733 35.3605 34.6353 35.2255C34.804 35.0905 34.9052 34.9218 34.939 34.7193Z" fill="white"/>
                                <path d="M43.0925 37.8577C42.8225 37.8577 42.5695 37.8071 42.3332 37.7058C42.097 37.6046 41.8912 37.4662 41.7157 37.2907C41.5402 37.1153 41.4019 36.9094 41.3006 36.6732C41.1994 36.437 41.1488 36.1839 41.1488 35.9139V33.5754H41.7056V35.8127C41.7056 36.0017 41.7393 36.1805 41.8068 36.3492C41.881 36.518 41.9823 36.6631 42.1105 36.7846C42.2387 36.9128 42.3872 37.014 42.556 37.0883C42.7247 37.1625 42.9035 37.1996 43.0925 37.1996H44.8338C44.9958 37.1996 45.1476 37.1693 45.2894 37.1085C45.4311 37.0478 45.5559 36.9634 45.6639 36.8554C45.7719 36.7474 45.8563 36.6226 45.917 36.4809C45.9778 36.3391 46.0081 36.1873 46.0081 36.0253V29.5056H46.5649V36.1265C46.5649 36.3695 46.5177 36.5956 46.4232 36.8048C46.3355 37.014 46.214 37.1963 46.0588 37.3515C45.9035 37.5067 45.7179 37.6282 45.502 37.7159C45.2927 37.8104 45.07 37.8577 44.8338 37.8577H43.0925Z" fill="white"/>
                                <path d="M50.0938 35.9443C50.0938 36.0388 50.0465 36.086 49.952 36.086H49.5471C49.3446 36.086 49.1523 36.0489 48.97 35.9747C48.7945 35.8937 48.6393 35.7891 48.5043 35.6608C48.3761 35.5259 48.2715 35.3706 48.1905 35.1951C48.1163 35.0129 48.0791 34.8206 48.0791 34.6181V29.5056H48.6359V34.6181C48.6359 34.8408 48.7136 35.0332 48.8688 35.1951C49.0308 35.3504 49.2231 35.428 49.4458 35.428H49.952C49.9925 35.428 50.0263 35.4449 50.0533 35.4786C50.0803 35.5056 50.0938 35.5394 50.0938 35.5798V35.9443Z" fill="white"/>
                                <path d="M50.6774 31.9049H51.4366V31.1457H50.6774V31.9049ZM51.9631 31.9049H52.7224V31.1457H51.9631V31.9049ZM53.4918 35.9443C53.4918 36.0388 53.4445 36.086 53.35 36.086H52.7628C52.6481 36.086 52.5334 36.0692 52.4186 36.0354C52.3039 36.0017 52.1959 35.9544 52.0947 35.8937C51.9934 35.8329 51.9057 35.7621 51.8315 35.6811C51.7572 35.5933 51.7066 35.4989 51.6796 35.3976C51.5581 35.6001 51.3928 35.7654 51.1836 35.8937C50.9811 36.0219 50.7617 36.086 50.5255 36.086H49.9485C49.854 36.086 49.8067 36.0388 49.8067 35.9443V35.5697C49.8067 35.4752 49.854 35.428 49.9485 35.428H50.5255C50.7415 35.428 50.9305 35.3605 51.0924 35.2255C51.2544 35.0905 51.3557 34.9218 51.3962 34.7193L51.6999 33.1907L52.2465 33.2818L51.9934 34.5574C51.9732 34.6721 51.9799 34.7834 52.0137 34.8914C52.0474 34.9927 52.0981 35.0838 52.1656 35.1648C52.2398 35.2458 52.3275 35.3099 52.4288 35.3571C52.5368 35.4044 52.6515 35.428 52.773 35.428H53.35C53.4445 35.428 53.4918 35.4752 53.4918 35.5697V35.9443Z" fill="white"/>
                                <path d="M54.0479 38.0601H54.8072V37.3009H54.0479V38.0601ZM55.3336 38.0601H56.0929V37.3009H55.3336V38.0601ZM56.8927 35.9443C56.8927 36.0388 56.8454 36.086 56.7509 36.086H56.1638C56.049 36.086 55.9343 36.0692 55.8196 36.0354C55.7048 36.0017 55.5968 35.9544 55.4956 35.8937C55.3944 35.8329 55.3066 35.7621 55.2324 35.6811C55.1582 35.5933 55.1075 35.4989 55.0805 35.3976C54.9591 35.6001 54.7937 35.7654 54.5845 35.8937C54.382 36.0219 54.1627 36.086 53.9264 36.086H53.3494C53.2549 36.086 53.2077 36.0388 53.2077 35.9443V35.5697C53.2077 35.4752 53.2549 35.428 53.3494 35.428H53.9264C54.1424 35.428 54.3314 35.3605 54.4934 35.2255C54.6553 35.0905 54.7566 34.9218 54.7971 34.7193L55.1008 33.1907L55.6475 33.2818L55.3944 34.5574C55.3741 34.6721 55.3809 34.7834 55.4146 34.8914C55.4484 34.9927 55.499 35.0838 55.5665 35.1648C55.6407 35.2458 55.7285 35.3099 55.8297 35.3571C55.9377 35.4044 56.0524 35.428 56.1739 35.428H56.7509C56.8454 35.428 56.8927 35.4752 56.8927 35.5697V35.9443Z" fill="white"/>
                                <path d="M56.7503 36.086C56.6558 36.086 56.6086 36.0388 56.6086 35.9443V35.5697C56.6086 35.536 56.6221 35.5056 56.6491 35.4786C56.6761 35.4449 56.7098 35.428 56.7503 35.428H58.3397C58.6772 35.428 58.9978 35.3706 59.3015 35.2559C59.6119 35.1344 59.892 34.9657 60.1417 34.7497L61.144 33.8588C61.1777 33.8251 61.2182 33.7913 61.2655 33.7576C61.3127 33.7171 61.3532 33.6901 61.387 33.6766L58.8358 32.9274C58.6873 32.8802 58.5422 32.9004 58.4005 32.9882C58.2655 33.0759 58.1778 33.1907 58.1373 33.3324L57.9145 34.0714L57.4286 33.9398L57.6513 33.1805C57.6918 33.0321 57.7593 32.9004 57.8538 32.7857C57.955 32.671 58.0698 32.5799 58.198 32.5124C58.3262 32.4381 58.4646 32.3909 58.6131 32.3706C58.7616 32.3504 58.91 32.3639 59.0585 32.4111L62.9258 33.5754L62.7739 34.0917L62.3892 33.9803C62.2812 33.9466 62.1834 33.9331 62.0956 33.9398C62.0146 33.9398 61.9404 33.9533 61.8729 33.9803C61.8122 34.0073 61.7514 34.0444 61.6907 34.0917C61.6367 34.1322 61.5827 34.176 61.5287 34.2233V34.608C61.5287 34.8374 61.6063 35.0332 61.7615 35.1951C61.9235 35.3504 62.1192 35.428 62.3487 35.428H63.685C63.7255 35.428 63.7593 35.4449 63.7863 35.4786C63.8133 35.5056 63.8268 35.536 63.8268 35.5697V35.9443C63.8268 36.0388 63.7795 36.086 63.685 36.086H62.45C62.2475 36.086 62.0619 36.0489 61.8931 35.9747C61.7244 35.9004 61.5759 35.7992 61.4477 35.671C61.3262 35.536 61.2284 35.3841 61.1541 35.2154C61.0866 35.0399 61.0495 34.8509 61.0428 34.6485L60.243 35.3672C59.9798 35.6035 59.6828 35.7823 59.3521 35.9038C59.0281 36.0253 58.6907 36.086 58.3397 36.086H56.7503ZM59.5343 37.3009H60.2936V38.0601H59.5343V37.3009Z" fill="white"/>
                                <path d="M64.7437 35.428C64.9664 35.428 65.1554 35.3504 65.3106 35.1951C65.4726 35.0332 65.5536 34.8408 65.5536 34.6181V32.8363H66.1104V34.6181C66.1104 34.8206 66.0699 35.0129 65.9889 35.1951C65.9146 35.3706 65.81 35.5259 65.6751 35.6608C65.5468 35.7891 65.3916 35.8937 65.2094 35.9747C65.0339 36.0489 64.8449 36.086 64.6424 36.086H63.6807C63.5862 36.086 63.539 36.0388 63.539 35.9443V35.5798C63.539 35.5394 63.5525 35.5056 63.5795 35.4786C63.6065 35.4449 63.6402 35.428 63.6807 35.428H64.7437ZM63.6807 38.0601H64.44V37.3009H63.6807V38.0601ZM64.9664 38.0601H65.7257V37.3009H64.9664V38.0601Z" fill="white"/>
                                <path d="M68.7457 36.086C68.4622 36.086 68.2226 35.9882 68.0269 35.7924C67.8312 35.5967 67.7333 35.3571 67.7333 35.0737V34.0815H68.2091V34.9319C68.2091 35.0669 68.2463 35.185 68.3205 35.2863C68.4015 35.3807 68.5196 35.428 68.6748 35.428H70.2339C70.4633 35.428 70.6489 35.3807 70.7907 35.2863C70.9324 35.1918 71.0336 35.0737 71.0944 34.9319C71.1551 34.7902 71.1821 34.6417 71.1754 34.4865C71.1686 34.3245 71.1281 34.1828 71.0539 34.0613L69.92 32.0366L70.3857 31.7126L71.4791 33.6766C71.6411 33.9668 71.7221 34.257 71.7221 34.5472C71.7288 34.8307 71.6681 35.0872 71.5398 35.3166C71.4183 35.5461 71.2395 35.7317 71.0033 35.8734C70.7671 36.0152 70.4971 36.086 70.1934 36.086H68.7457Z" fill="white"/>
                                <path d="M84.6975 34.6687C84.6975 34.7632 84.7177 34.8577 84.7582 34.9522C84.8054 35.0399 84.8662 35.1209 84.9404 35.1951C85.0214 35.2626 85.1092 35.32 85.2036 35.3672C85.3049 35.4077 85.4095 35.428 85.5175 35.428H85.9224C86.0169 35.428 86.0642 35.4752 86.0642 35.5697V35.9342C86.0642 35.9747 86.0507 36.0118 86.0237 36.0455C85.9967 36.0725 85.9629 36.086 85.9224 36.086H85.6187C85.369 36.086 85.1395 36.0287 84.9303 35.9139C84.7278 35.7924 84.5591 35.6203 84.4241 35.3976C84.2891 35.6203 84.117 35.7924 83.9078 35.9139C83.6986 36.0287 83.4759 36.086 83.2396 36.086C83.0034 36.086 82.7875 36.0287 82.5917 35.9139C82.4028 35.7924 82.2509 35.6203 82.1362 35.3976C82.0012 35.6271 81.8325 35.7992 81.63 35.9139C81.4275 36.0287 81.2082 36.086 80.9719 36.086C80.7965 36.086 80.6244 36.0523 80.4556 35.9848C80.2937 35.9173 80.1485 35.8059 80.0203 35.6507V36.1265C80.0203 36.3627 79.9731 36.5855 79.8786 36.7947C79.7908 37.0039 79.6694 37.1861 79.5141 37.3414C79.3589 37.4966 79.1767 37.6181 78.9675 37.7058C78.7582 37.8003 78.5355 37.8476 78.2993 37.8476H76.5681C76.2982 37.8476 76.0451 37.7969 75.8089 37.6957C75.5726 37.5945 75.3634 37.4561 75.1812 37.2806C75.0057 37.1051 74.8674 36.8993 74.7661 36.6631C74.6649 36.4269 74.6143 36.1738 74.6143 35.9038V33.2818H75.1711L75.1812 35.8026C75.1812 35.9915 75.2149 36.1704 75.2824 36.3391C75.3567 36.5079 75.4579 36.653 75.5861 36.7744C75.7144 36.9027 75.8629 37.0039 76.0316 37.0782C76.2003 37.1524 76.3792 37.1895 76.5681 37.1895H78.2892C78.4511 37.1895 78.603 37.1591 78.7447 37.0984C78.8865 37.0377 79.0079 36.9533 79.1092 36.8453C79.2172 36.7373 79.3015 36.6125 79.3623 36.4707C79.423 36.329 79.4534 36.1771 79.4534 36.0152V33.1097H80.0102V34.608C80.0102 34.8374 80.0912 35.0332 80.2532 35.1951C80.4219 35.3504 80.6176 35.428 80.8403 35.428H80.9821C81.198 35.428 81.387 35.3605 81.549 35.2255C81.711 35.0905 81.8122 34.9184 81.8527 34.7092L82.1564 33.1907L82.7031 33.2818L82.45 34.5472C82.4365 34.662 82.4466 34.7733 82.4804 34.8813C82.5209 34.9825 82.5749 35.0737 82.6424 35.1547C82.7166 35.2356 82.801 35.2998 82.8954 35.347C82.9967 35.3942 83.108 35.4179 83.2295 35.4179H83.3308C83.5535 35.4179 83.7425 35.3403 83.8977 35.185C84.0597 35.023 84.1407 34.8307 84.1407 34.608V32.806H84.6975V34.6687Z" fill="white"/>
                                <path d="M86.9881 35.428C87.2108 35.428 87.3998 35.3504 87.555 35.1951C87.717 35.0332 87.798 34.8408 87.798 34.6181V32.8363H88.3548V34.6181C88.3548 34.8206 88.3143 35.0129 88.2333 35.1951C88.1591 35.3706 88.0545 35.5259 87.9195 35.6608C87.7913 35.7891 87.636 35.8937 87.4538 35.9747C87.2783 36.0489 87.0893 36.086 86.8869 36.086H85.9251C85.8306 36.086 85.7834 36.0388 85.7834 35.9443V35.5798C85.7834 35.5394 85.7969 35.5056 85.8239 35.4786C85.8509 35.4449 85.8846 35.428 85.9251 35.428H86.9881ZM87.6563 31.5405H88.4155V30.7812H87.6563V31.5405Z" fill="white"/>
                                <path d="M90.4357 36.086H89.8789V29.5056H90.4357V36.086Z" fill="white"/>
                                <path d="M90.0129 38.5866L89.8306 38.0095L90.9847 37.635C91.2885 37.5337 91.5314 37.3549 91.7136 37.0984C91.8959 36.8419 91.987 36.5517 91.987 36.2278V33.1198H92.5438V36.1873C92.5438 36.4167 92.51 36.6361 92.4426 36.8453C92.3751 37.0613 92.2772 37.257 92.149 37.4325C92.0207 37.608 91.8655 37.7632 91.6833 37.8982C91.5078 38.0399 91.3121 38.1479 91.0961 38.2221L90.0129 38.5866ZM93.3031 31.824H92.5438V31.0647H93.3031V31.824ZM92.0174 31.824H91.2581V31.0647H92.0174V31.824ZM92.6349 30.6901H91.8756V29.9308H92.6349V30.6901Z" fill="white"/>
                                <path d="M94.8672 36.086H94.3104V30.3257H94.8672V36.086ZM93.0955 30.0624V29.7284C93.0955 29.5326 93.1596 29.3639 93.2879 29.2222C93.4094 29.0737 93.5882 28.9995 93.8244 28.9995H95.6973V29.5056H93.7738C93.7063 29.5056 93.6456 29.5326 93.5916 29.5866C93.5376 29.6406 93.5106 29.7047 93.5106 29.779V30.0624H93.0955Z" fill="white"/>
                                <path d="M18.4308 8.0279C18.5451 9.971 18.6023 11.4226 18.6023 12.3827C18.6023 13.0342 18.4651 13.5829 18.1908 14.0286C17.9279 14.4744 17.5736 14.8059 17.1278 15.023C16.6935 15.2402 16.2191 15.3488 15.7048 15.3488C14.6761 15.3488 13.996 14.9888 13.6645 14.2687C13.4474 14.6801 13.1502 14.9659 12.773 15.1259C12.4072 15.2745 12.0415 15.3488 11.6757 15.3488C11.2642 15.3488 10.9213 15.2974 10.647 15.1945C10.3841 15.0916 10.167 14.9202 9.99551 14.6801C10.0298 15.3659 10.0469 15.966 10.0469 16.4804C10.0469 17.1547 9.73833 17.7091 9.12111 18.1434C8.5039 18.5778 7.76095 18.8921 6.89227 19.0864C6.03502 19.2807 5.23493 19.3779 4.49198 19.3779C2.89178 19.3779 1.74307 19.075 1.04584 18.4692C0.348614 17.8634 0 16.9604 0 15.7603C0 15.3374 0.131445 14.3658 0.394334 12.8456L0.822958 10.0853L2.57174 10.4625C2.12597 13.1371 1.90309 14.7602 1.90309 15.3317C1.90309 15.7774 2.16026 16.086 2.67461 16.2575C3.18896 16.4289 3.79475 16.5147 4.49198 16.5147C5.26921 16.5147 5.95501 16.4689 6.54937 16.3775C7.14373 16.2861 7.65808 16.1318 8.09242 15.9146L7.35518 9.51952L9.54974 9.07375L9.63546 9.96528L9.78977 11.5426C9.83549 11.9084 9.94979 12.1598 10.1327 12.297C10.327 12.4227 10.647 12.4856 11.0928 12.4856C11.5957 12.4856 12.0529 12.417 12.4644 12.2799L12.3101 9.15947L14.2817 9.09089L14.3503 12.3484C14.6018 12.4399 14.8875 12.4856 15.2076 12.4856C15.8019 12.4856 16.2877 12.4113 16.6649 12.2627L16.2363 8.40509L18.4308 8.0279ZM12.6873 1.61569L14.316 2.93585L12.9959 4.58177L11.35 3.26161L12.6873 1.61569ZM11.3842 4.51319L13.0302 5.83335L11.71 7.47927L10.0641 6.1591L11.3842 4.51319ZM14.1103 4.51319L15.7562 5.83335L14.436 7.47927L12.7901 6.1591L14.1103 4.51319Z" fill="white"/>
                                <path d="M28.3535 12.4856C28.3878 12.4856 28.422 12.5599 28.4563 12.7085C28.4906 12.8456 28.5078 12.9999 28.5078 13.1714V14.663C28.5078 14.8459 28.4906 15.0059 28.4563 15.1431C28.422 15.2802 28.3878 15.3488 28.3535 15.3488H26.9304C26.6447 16.4804 26.0789 17.5033 25.2331 18.4177C24.3987 19.3436 23.2328 20.1094 21.7355 20.7152L20.2439 18.5378C21.284 18.172 22.2099 17.6862 23.0214 17.0804C23.8443 16.4861 24.4616 15.8803 24.873 15.2631C24.4158 15.3202 23.9586 15.3488 23.5014 15.3488C22.9985 15.3488 22.6213 15.3317 22.3699 15.2974C22.1184 15.2516 21.907 15.1716 21.7355 15.0573C21.5641 14.9316 21.3812 14.7373 21.1869 14.4744C20.9926 14.2001 20.8611 13.9772 20.7925 13.8058C20.7354 13.6343 20.7068 13.4 20.7068 13.1028C20.7068 12.2684 20.8268 11.4969 21.0669 10.7882C21.3069 10.0682 21.6726 9.49094 22.1641 9.0566C22.6556 8.62226 23.2671 8.40509 23.9986 8.40509C24.8673 8.40509 25.576 8.788 26.1246 9.5538C26.6733 10.3082 27.0047 11.2854 27.119 12.4856H28.3535ZM22.5413 12.8799C23.0785 12.9599 23.5414 12.9999 23.9301 12.9999C24.4901 12.9999 24.9416 12.9656 25.2845 12.8971C25.2845 12.1884 25.1531 11.6569 24.8902 11.3026C24.6273 10.9368 24.2787 10.754 23.8443 10.754C23.4557 10.754 23.1414 10.9425 22.9014 11.3197C22.6613 11.6855 22.5413 12.2056 22.5413 12.8799Z" fill="white"/>
                                <path d="M32.4503 12.4856C32.4846 12.4856 32.5189 12.5599 32.5532 12.7085C32.5875 12.8456 32.6046 12.9999 32.6046 13.1714V14.663C32.6046 14.8459 32.5875 15.0059 32.5532 15.1431C32.5189 15.2802 32.4846 15.3488 32.4503 15.3488H28.3527C28.3069 15.3488 28.2726 15.2859 28.2498 15.1602C28.2155 15.023 28.1984 14.8573 28.1984 14.663V13.1714C28.1984 12.9885 28.2155 12.8285 28.2498 12.6913C28.2726 12.5542 28.3069 12.4856 28.3527 12.4856H32.4503Z" fill="white"/>
                                <path d="M36.5524 12.4856C36.5867 12.4856 36.6209 12.5599 36.6552 12.7085C36.6895 12.8456 36.7067 12.9999 36.7067 13.1714V14.663C36.7067 14.8459 36.6895 15.0059 36.6552 15.1431C36.6209 15.2802 36.5867 15.3488 36.5524 15.3488H32.4547C32.409 15.3488 32.3747 15.2859 32.3519 15.1602C32.3176 15.023 32.3004 14.8573 32.3004 14.663V13.1714C32.3004 12.9885 32.3176 12.8285 32.3519 12.6913C32.3747 12.5542 32.409 12.4856 32.4547 12.4856H36.5524Z" fill="white"/>
                                <path d="M40.6544 12.4856C40.6887 12.4856 40.723 12.5599 40.7573 12.7085C40.7916 12.8456 40.8087 12.9999 40.8087 13.1714V14.663C40.8087 14.8459 40.7916 15.0059 40.7573 15.1431C40.723 15.2802 40.6887 15.3488 40.6544 15.3488H36.5568C36.5111 15.3488 36.4768 15.2859 36.4539 15.1602C36.4196 15.023 36.4025 14.8573 36.4025 14.663V13.1714C36.4025 12.9885 36.4196 12.8285 36.4539 12.6913C36.4768 12.5542 36.5111 12.4856 36.5568 12.4856H40.6544Z" fill="white"/>
                                <path d="M44.7565 12.4856C44.7908 12.4856 44.8251 12.5599 44.8594 12.7085C44.8937 12.8456 44.9108 12.9999 44.9108 13.1714V14.663C44.9108 14.8459 44.8937 15.0059 44.8594 15.1431C44.8251 15.2802 44.7908 15.3488 44.7565 15.3488H40.6588C40.6131 15.3488 40.5788 15.2859 40.556 15.1602C40.5217 15.023 40.5045 14.8573 40.5045 14.663V13.1714C40.5045 12.9885 40.5217 12.8285 40.556 12.6913C40.5788 12.5542 40.6131 12.4856 40.6588 12.4856H44.7565Z" fill="white"/>
                                <path d="M48.8586 12.4856C48.8928 12.4856 48.9271 12.5599 48.9614 12.7085C48.9957 12.8456 49.0129 12.9999 49.0129 13.1714V14.663C49.0129 14.8459 48.9957 15.0059 48.9614 15.1431C48.9271 15.2802 48.8928 15.3488 48.8586 15.3488H44.7609C44.7152 15.3488 44.6809 15.2859 44.658 15.1602C44.6237 15.023 44.6066 14.8573 44.6066 14.663V13.1714C44.6066 12.9885 44.6237 12.8285 44.658 12.6913C44.6809 12.5542 44.7152 12.4856 44.7609 12.4856H48.8586Z" fill="white"/>
                                <path d="M52.9606 12.4856C52.9949 12.4856 53.0292 12.5599 53.0635 12.7085C53.0978 12.8456 53.1149 12.9999 53.1149 13.1714V14.663C53.1149 14.8459 53.0978 15.0059 53.0635 15.1431C53.0292 15.2802 52.9949 15.3488 52.9606 15.3488H48.863C48.8173 15.3488 48.783 15.2859 48.7601 15.1602C48.7258 15.023 48.7087 14.8573 48.7087 14.663V13.1714C48.7087 12.9885 48.7258 12.8285 48.7601 12.6913C48.783 12.5542 48.8173 12.4856 48.863 12.4856H52.9606Z" fill="white"/>
                                <path d="M57.0627 12.4856C57.097 12.4856 57.1313 12.5599 57.1656 12.7085C57.1998 12.8456 57.217 12.9999 57.217 13.1714V14.663C57.217 14.8459 57.1998 15.0059 57.1656 15.1431C57.1313 15.2802 57.097 15.3488 57.0627 15.3488H52.965C52.9193 15.3488 52.885 15.2859 52.8622 15.1602C52.8279 15.023 52.8107 14.8573 52.8107 14.663V13.1714C52.8107 12.9885 52.8279 12.8285 52.8622 12.6913C52.885 12.5542 52.9193 12.4856 52.965 12.4856H57.0627Z" fill="white"/>
                                <path d="M61.1647 12.4856C61.199 12.4856 61.2333 12.5599 61.2676 12.7085C61.3019 12.8456 61.319 12.9999 61.319 13.1714V14.663C61.319 14.8459 61.3019 15.0059 61.2676 15.1431C61.2333 15.2802 61.199 15.3488 61.1647 15.3488H57.0671C57.0214 15.3488 56.9871 15.2859 56.9642 15.1602C56.9299 15.023 56.9128 14.8573 56.9128 14.663V13.1714C56.9128 12.9885 56.9299 12.8285 56.9642 12.6913C56.9871 12.5542 57.0214 12.4856 57.0671 12.4856H61.1647Z" fill="white"/>
                                <path d="M65.2668 12.4856C65.3011 12.4856 65.3354 12.5599 65.3697 12.7085C65.404 12.8456 65.4211 12.9999 65.4211 13.1714V14.663C65.4211 14.8459 65.404 15.0059 65.3697 15.1431C65.3354 15.2802 65.3011 15.3488 65.2668 15.3488H61.1692C61.1234 15.3488 61.0892 15.2859 61.0663 15.1602C61.032 15.023 61.0149 14.8573 61.0149 14.663V13.1714C61.0149 12.9885 61.032 12.8285 61.0663 12.6913C61.0892 12.5542 61.1234 12.4856 61.1692 12.4856H65.2668Z" fill="white"/>
                                <path d="M68.9231 6.98206C69.3689 6.98206 69.8318 7.06207 70.3118 7.22209C70.8033 7.37068 71.4434 7.605 72.2321 7.92503C73.2151 8.32508 74.0666 8.63369 74.7867 8.85086C75.5182 9.06803 76.2783 9.17662 77.067 9.17662L76.5526 11.8855C75.7754 11.9655 75.0496 12.1484 74.3752 12.4342C73.7123 12.7199 72.9636 13.0971 72.1292 13.5657C71.7177 13.7943 71.4206 13.9543 71.2377 14.0458C69.6032 14.9145 67.7858 15.3488 65.7856 15.3488H65.2712C65.2255 15.3488 65.1912 15.2859 65.1684 15.1602C65.1341 15.023 65.1169 14.8573 65.1169 14.663V13.1714C65.1169 12.9885 65.1341 12.8285 65.1684 12.6913C65.1912 12.5542 65.2255 12.4856 65.2712 12.4856H65.8199C67.1572 12.4856 68.6031 12.257 70.1575 11.7998C70.5576 11.6855 71.0662 11.4969 71.6834 11.234C72.3235 10.9368 72.8436 10.7482 73.2436 10.6682C72.6721 10.5654 71.9749 10.3482 71.1519 10.0167C70.6376 9.83384 70.2204 9.69668 69.9004 9.60524C69.5918 9.5138 69.3117 9.46808 69.0603 9.46808C68.7402 9.46808 68.5116 9.55952 68.3745 9.7424C68.2487 9.91385 68.1573 10.1825 68.1001 10.5482L66.4199 10.2567C66.7514 8.07362 67.5858 6.98206 68.9231 6.98206ZM70.329 1.70142L72.2492 3.24446L70.7748 5.02754L68.8545 3.48449L70.329 1.70142Z" fill="white"/>
                                <path d="M75.1018 18.5378C76.6449 17.852 77.7707 17.2176 78.4794 16.6347C79.1881 16.0632 79.6967 15.4574 80.0053 14.8173L79.2852 9.58809L81.5484 9.12518C81.6969 10.4168 81.7998 11.4455 81.857 12.2113C81.9255 12.9771 81.9598 13.6457 81.9598 14.2172C81.9598 15.5545 81.5541 16.7433 80.7425 17.7834C79.931 18.8235 78.5537 19.8008 76.6106 20.7152L75.1018 18.5378ZM79.9367 4.05028L81.857 5.59332L80.3825 7.3764L78.4623 5.83335L79.9367 4.05028Z" fill="white"/>
                                <path d="M87.3546 8.40509C88.0175 8.40509 88.5833 8.62798 89.0519 9.07375C89.532 9.51951 89.8978 10.1253 90.1492 10.8911C90.4007 11.6455 90.5264 12.4799 90.5264 13.3943C90.5264 14.9487 90.1035 16.3604 89.2577 17.6291C88.4119 18.9092 87.0231 19.9379 85.0915 20.7152L83.5999 18.5378C84.64 18.172 85.5658 17.6862 86.3773 17.0804C87.2003 16.4861 87.8175 15.8803 88.229 15.2631C87.7718 15.3202 87.3146 15.3488 86.8574 15.3488C86.3545 15.3488 85.9773 15.3317 85.7258 15.2974C85.4744 15.2516 85.2629 15.1716 85.0915 15.0573C84.92 14.9316 84.7371 14.7373 84.5428 14.4744C84.3485 14.2001 84.2171 13.9772 84.1485 13.8058C84.0913 13.6343 84.0628 13.4 84.0628 13.1028C84.0628 12.2684 84.1828 11.4969 84.4228 10.7882C84.6628 10.0682 85.0286 9.49094 85.5201 9.0566C86.0116 8.62226 86.6231 8.40509 87.3546 8.40509ZM85.8973 12.8799C86.4345 12.9599 86.8974 12.9999 87.286 12.9999C87.8461 12.9999 88.2976 12.9656 88.6405 12.8971C88.6405 12.1884 88.509 11.6569 88.2461 11.3026C87.9832 10.9368 87.6346 10.754 87.2003 10.754C86.8117 10.754 86.4973 10.9425 86.2573 11.3197C86.0173 11.6855 85.8973 12.2056 85.8973 12.8799Z" fill="white"/>
                                <path d="M90.4917 18.5378C91.6576 17.9205 92.5491 17.309 93.1663 16.7032C93.7835 16.0975 94.2465 15.4688 94.5551 14.8173L93.835 9.58809L96.0981 9.12518C96.2467 10.4168 96.3496 11.4455 96.4067 12.2113C96.4753 12.9771 96.5096 13.6457 96.5096 14.2172C96.5096 15.5202 96.1553 16.6975 95.4466 17.7491C94.738 18.8006 93.5892 19.7893 92.0005 20.7152L90.4917 18.5378Z" fill="white"/>
                            </svg>
                        </a>

                        <button onclick="toggleSideMenu()" type="button"
                                class="cursor-pointer rounded-lg p-2 bg-transparent hover:bg-gray-700 ltr:rotate-180 xd:hidden">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 19L3 12M3 12L10 5M3 12L21 12" stroke="white" stroke-width="2"
                                      stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <ul class="block w-100 p-0 ltr:text-left">
                        <li class="block w-100">
                            <a href="/dtcms" data-sideroute="/dtcms">
                                @Localizer["DashboardTitle"]

                            </a>
                        </li>
                        <li>
                            <div class="relative inline-block text-right w-full">
                                <div id="accordion-collapse" data-accordion="collapse">
                                    <h2 id="accordion-collapse-heading-2" class="bg-gray-800 text-sm text-gray-300">
                                        <button type="button"
                                                class="flex items-center justify-between  w-full mb-3 py-2 px-3 text-right rounded-lg text-gray-300 text-sm bg-gray-800 hover:bg-gray-900"
                                                data-accordion-target="#accordion-collapse-body-2" aria-expanded="false"
                                                aria-controls="accordion-collapse-body-2">
                                            <span class="text-white ">
                                                @Localizer["ArticleTitle"]

                                            </span>
                                            <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor"
                                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                      clip-rule="evenodd" />
                                            </svg>
                                        </button>
                                    </h2>
                                    <div bind:this={acc1Body} id="accordion-collapse-body-2" class="hidden"
                                         aria-labelledby="accordion-collapse-heading-2">
                                        <div class="">
                                            <ol class="block w-100 p-0 pr-4 ltr:text-left ltr:pl-4 ltr:pr-[0px]">
                                                <li class="block w-100">
                                                    <a href="/dtcms/article" data-sideroute="/dtcms/article">
                                                        @Localizer["ArticleLIstTitle"]

                                                    </a>
                                                </li>
                                                <li class="block w-100">
                                                    <a href="/dtcms/articleCategories"
                                                       data-sideroute="/dtcms/articleCategories">
                                                        @Localizer["ArticleCategoryTitle"]

                                                    </a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                          <li>
                            <div class="relative inline-block text-right w-full">
                                <div id="accordion-collapse" data-accordion="collapse">
                                    <h2 id="accordion-collapse-heading-4" class="bg-gray-800 text-sm text-gray-300">
                                        <button type="button"
                                                class="flex items-center justify-between  w-full mb-3 py-2 px-3 text-right rounded-lg text-gray-300 text-sm bg-gray-800 hover:bg-gray-900"
                                                data-accordion-target="#accordion-collapse-body-4" aria-expanded="false"
                                                aria-controls="accordion-collapse-body-2">
                                            <span class="text-white ">
                                               نمونه کار ها

                                            </span>
                                            <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor"
                                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                      clip-rule="evenodd" />
                                            </svg>
                                        </button>
                                    </h2>
                                    <div bind:this={acc1Body} id="accordion-collapse-body-4" class="hidden"
                                         aria-labelledby="accordion-collapse-heading-2">
                                        <div class="">
                                            <ol class="block w-100 p-0 pr-4 ltr:text-left ltr:pl-4 ltr:pr-[0px]">
                                                <li class="block w-100">
                                                    <a href="/dtcms/portfolio" data-sideroute="/dtcms/portfolio">
                                                       نمونه کار

                                                    </a>
                                                </li>
                                                <li class="block w-100">
                                                    <a href="/dtcms/portfoliocategory"
                                                       data-sideroute="/dtcms/portfoliocategory">
                                                    دسته بندی نمونه کار

                                                    </a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/dtcms/service" data-sideroute="/dtcms/service">
                                خدمات
                            </a>
                        </li>

                        <li>
                            <a href="/dtcms/podcast" data-sideroute="/dtcms/podcast">
                                پادکست
                            </a>
                        </li>

                        <li>
                            <a href="/dtcms/faq" data-sideroute="/dtcms/faq">
                              سوالات متداول
                            </a>
                        </li>

                        <li>
                            <a href="/dtcms/team" data-sideroute="/dtcms/team">
                             تیم
                            </a>
                        </li>
 
                        <li>
                            <a href="/dtcms/client" data-sideroute="/dtcms/client">
                               مشتریان
                            </a>
                        </li>


                        <li>
                            <a href="/dtcms/testimonial" data-sideroute="/dtcms/testimonial">
                              نظر مشتریان
                            </a>
                        </li>

                      

                        <li>
                            <a href="/dtcms/dynamicpage" data-sideroute="/dtcms/dynamicpage">
                                @Localizer["DynamicPageTitle"]
                            </a>
                        </li>


                        @*

                        <li>
                            <a href="/dtcms/contactus" data-sideroute="/dtcms/contactus">
                                @Localizer["ContanctUsTitle"]
                            </a>
                        </li>
                        *@



                        <li>
                            <div class="relative inline-block text-right w-full">
                                <div id="accordion-collapse" data-accordion="collapse">
                                    <h2 id="accordion-collapse-heading-3" class="bg-gray-800 text-sm text-gray-300">
                                        <button type="button"
                                                class="flex items-center justify-between  w-full mb-3 py-2 px-3 text-right rounded-lg text-gray-300 text-sm bg-gray-800 hover:bg-gray-900"
                                                data-accordion-target="#accordion-collapse-body-3" aria-expanded="false"
                                                aria-controls="accordion-collapse-body-3">
                                            <span class="text-white ">
                                                عمومی

                                            </span>
                                            <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor"
                                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                      clip-rule="evenodd" />
                                            </svg>
                                        </button>
                                    </h2>
                                    <div  id="accordion-collapse-body-3" class="hidden"
                                         aria-labelledby="accordion-collapse-heading-3">
                                        <div class="">
                                            <ol class="block w-100 p-0 pr-4 ltr:text-left ltr:pl-4 ltr:pr-[0px]">
                                                <li class="block w-100">
                                                    <a href="/dtcms/filemanager" data-sideroute="/dtcms/filemanager">
                                                        @Localizer["FileManagerTitle"]
                                                    </a>
                                                </li>
                                                <li class="block w-100">
                                                    <a href="/dtcms/usermanager" data-sideroute="/dtcms/usermanager">
                                                        @Localizer["UserManagerTitle"]
                                                    </a>
                                                </li>
                                                <li class="block w-100">
                                                    <a href="/dtcms/menu" data-sideroute="/dtcms/menu">
                                                        @Localizer["MenuPageTitle"]
                                                    </a>
                                                </li>

                                                <li class="block w-100">
                                                    <a href="/dtcms/settings" data-sideroute="/dtcms/settings">
                                                        @Localizer["SettingsTitle"]
                                                    </a>
                                                </li>
                                                <li class="block w-100">
                                                    <a href="/dtcms/support" data-sideroute="/dtcms/support">
                                                        @Localizer["SupportTitle"]
                                                    </a>
                                                </li>
                                                <li class="block w-100">
                                                    <a href="/dtcms/profile" data-sideroute="/dtcms/profile">
                                                        پروفایل
                                                    </a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- <div class="flex mt-16 justify-between">
                        <a href="/" target="_blank"
                           class="w-[48%] text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs py-[8px] text-center inline-flex items-center">
                            <span class="flex mx-auto items-center">
                                <svg class="rtl:ml-2 ltr:mr-2" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M2.08296 7H4.02863C4.11783 5.45361 4.41228 4.02907 4.86644 2.88228C3.41752 3.77135 2.37513 5.25848 2.08296 7ZM8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0ZM8 2C7.92395 2 7.76787 2.03173 7.5347 2.26184C7.29723 2.4962 7.03751 2.8849 6.79782 3.44417C6.40914 4.3511 6.12491 5.58559 6.03237 7H9.96763C9.87509 5.58559 9.59086 4.3511 9.20218 3.44417C8.96249 2.8849 8.70277 2.4962 8.4653 2.26184C8.23213 2.03173 8.07605 2 8 2ZM11.9714 7C11.8822 5.45361 11.5877 4.02907 11.1336 2.88228C12.5825 3.77135 13.6249 5.25848 13.917 7H11.9714ZM9.96763 9H6.03237C6.12491 10.4144 6.40914 11.6489 6.79782 12.5558C7.03751 13.1151 7.29723 13.5038 7.5347 13.7382C7.76787 13.9683 7.92395 14 8 14C8.07605 14 8.23213 13.9683 8.4653 13.7382C8.70277 13.5038 8.96249 13.1151 9.20218 12.5558C9.59086 11.6489 9.87509 10.4144 9.96763 9ZM11.1336 13.1177C11.5877 11.9709 11.8822 10.5464 11.9714 9H13.917C13.6249 10.7415 12.5825 12.2287 11.1336 13.1177ZM4.86644 13.1177C4.41228 11.9709 4.11783 10.5464 4.02863 9H2.08296C2.37513 10.7415 3.41752 12.2287 4.86644 13.1177Z"
                                          fill="white" />
                                </svg>
                                @Localizer["ShowSiteTitle"]
                            </span>
                        </a>

                        <form asp-action="Logout" asp-controller="Account" method="post" id="frmLogout"></form>
                        <button onclick="document.getElementById('frmLogout').submit()"
                                class="w-[48%] text-center text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs py-[8px] inline-flex items-center rtl:flex-row ltr:flex-row-reverse">
                            <span class="flex mx-auto items-center flex-row ">
                                <svg class="rtl:ml-2 ltr:mr-2 rotate-180" width="20" height="20" viewBox="0 0 20 20"
                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.1667 13.3335L17.5 10.0002M17.5 10.0002L14.1667 6.66683M17.5 10.0002L5.83333 10.0002M10.8333 13.3335V14.1668C10.8333 15.5475 9.71405 16.6668 8.33333 16.6668H5C3.61929 16.6668 2.5 15.5475 2.5 14.1668V5.8335C2.5 4.45278 3.61929 3.3335 5 3.3335H8.33333C9.71405 3.3335 10.8333 4.45278 10.8333 5.8335V6.66683"
                                          stroke="white" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                </svg>
                                @Localizer["LogoutTitle"]
                            </span>
                        </button>
                    </div> -->
                </div>
            </div>
            <div class="dash__overlay xd:hidden" onclick="toggleSideMenu()"> </div>
            <div class="left bg-gray-50">
                <header class="bg-gray-900 mb-6">
                    <div class="container-fluid p-3">
                        <div class="content flex items-center justify-between flex-wrap">
                            @if (@ViewData["Title"] != null && @ViewData["TitleList"] == null)
                            {
                                <h4 class="text-white font-semibold text-sm">
                                    <dt:text length="60">
                                        @ViewData["Title"]
                                    </dt:text>
                                </h4>
                            }
                            @if (@ViewData["TitleList"] != null)
                            {
                                <ul class="title__breadcrumbs flex items-center">
                                    @foreach (var item in TitleList)
                                    {
                                        <li class="px-3">
                                            <a href="@item.Value" class="text-white font-semibold text-sm">
                                                @item.Text
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }

                            <div class="actions inline-flex items-center ">
                           
                                 <a href="/" class="item mx-1  flex items-center px-3 py-1 rounded-md hover:bg-blue-600" target="_blank">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <mask id="mask0_3366_11441" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                                        <rect width="24" height="24" fill="#D9D9D9"/>
                                        </mask>
                                        <g mask="url(#mask0_3366_11441)">
                                        <path d="M12 21.5C10.6975 21.5 9.46833 21.2503 8.3125 20.751C7.15667 20.2517 6.14867 19.5718 5.2885 18.7115C4.42817 17.8513 3.74833 16.8433 3.249 15.6875C2.74967 14.5317 2.5 13.3025 2.5 12C2.5 10.6872 2.74967 9.45542 3.249 8.30475C3.74833 7.15408 4.42817 6.14867 5.2885 5.2885C6.14867 4.42817 7.15667 3.74833 8.3125 3.249C9.46833 2.74967 10.6975 2.5 12 2.5C13.3128 2.5 14.5446 2.74967 15.6953 3.249C16.8459 3.74833 17.8513 4.42817 18.7115 5.2885C19.5718 6.14867 20.2517 7.15408 20.751 8.30475C21.2503 9.45542 21.5 10.6872 21.5 12C21.5 13.3025 21.2503 14.5317 20.751 15.6875C20.2517 16.8433 19.5718 17.8513 18.7115 18.7115C17.8513 19.5718 16.8459 20.2517 15.6953 20.751C14.5446 21.2503 13.3128 21.5 12 21.5ZM12 19.9788C12.5103 19.3019 12.9398 18.6192 13.2885 17.9307C13.6372 17.2422 13.9212 16.4897 14.1405 15.673H9.8595C10.0917 16.5153 10.3789 17.2808 10.7213 17.9693C11.0634 18.6578 11.4897 19.3276 12 19.9788ZM10.0635 19.7038C9.68017 19.1538 9.33592 18.5285 9.03075 17.828C8.72558 17.1273 8.48842 16.409 8.31925 15.673H4.927C5.45517 16.7115 6.1635 17.584 7.052 18.2905C7.9405 18.9968 8.94433 19.4679 10.0635 19.7038ZM13.9365 19.7038C15.0557 19.4679 16.0595 18.9968 16.948 18.2905C17.8365 17.584 18.5448 16.7115 19.073 15.673H15.6807C15.4794 16.4153 15.2262 17.1368 14.921 17.8375C14.616 18.5382 14.2878 19.1603 13.9365 19.7038ZM4.298 14.173H8.0155C7.95267 13.8013 7.90708 13.4369 7.87875 13.0798C7.85058 12.7228 7.8365 12.3628 7.8365 12C7.8365 11.6372 7.85058 11.2772 7.87875 10.9202C7.90708 10.5631 7.95267 10.1987 8.0155 9.827H4.298C4.20183 10.1667 4.12817 10.5198 4.077 10.8865C4.02567 11.2532 4 11.6243 4 12C4 12.3757 4.02567 12.7468 4.077 13.1135C4.12817 13.4802 4.20183 13.8333 4.298 14.173ZM9.51525 14.173H14.4848C14.5474 13.8013 14.5929 13.4402 14.6212 13.0895C14.6494 12.7388 14.6635 12.3757 14.6635 12C14.6635 11.6243 14.6494 11.2612 14.6212 10.9105C14.5929 10.5598 14.5474 10.1987 14.4848 9.827H9.51525C9.45258 10.1987 9.40708 10.5598 9.37875 10.9105C9.35058 11.2612 9.3365 11.6243 9.3365 12C9.3365 12.3757 9.35058 12.7388 9.37875 13.0895C9.40708 13.4402 9.45258 13.8013 9.51525 14.173ZM15.9845 14.173H19.702C19.7982 13.8333 19.8718 13.4802 19.923 13.1135C19.9743 12.7468 20 12.3757 20 12C20 11.6243 19.9743 11.2532 19.923 10.8865C19.8718 10.5198 19.7982 10.1667 19.702 9.827H15.9845C16.0473 10.1987 16.0929 10.5631 16.1212 10.9202C16.1494 11.2772 16.1635 11.6372 16.1635 12C16.1635 12.3628 16.1494 12.7228 16.1212 13.0798C16.0929 13.4369 16.0473 13.8013 15.9845 14.173ZM15.6807 8.327H19.073C18.5385 7.27567 17.835 6.40317 16.9625 5.7095C16.09 5.016 15.0813 4.54167 13.9365 4.2865C14.3198 4.8685 14.6608 5.50508 14.9595 6.19625C15.2583 6.88725 15.4987 7.5975 15.6807 8.327ZM9.8595 8.327H14.1405C13.9083 7.491 13.6163 6.72075 13.2645 6.01625C12.9125 5.31175 12.491 4.64675 12 4.02125C11.509 4.64675 11.0875 5.31175 10.7355 6.01625C10.3837 6.72075 10.0917 7.491 9.8595 8.327ZM4.927 8.327H8.31925C8.50125 7.5975 8.74167 6.88725 9.0405 6.19625C9.33917 5.50508 9.68017 4.8685 10.0635 4.2865C8.91217 4.54167 7.90192 5.01767 7.03275 5.7145C6.16342 6.41117 5.4615 7.282 4.927 8.327Z" fill="white"/>
                                        </g>
                                    </svg>

                                    <span class="text-sm font-normal text-white mr-2">وب سایت</span>
                                </a>

                                <div class="w-[0.5px] h-7 bg-white mx-2"></div>

                                <button onclick="document.getElementById('frmLogout').submit()" type="submit" class="item group mx-1 flex items-center px-3 py-1 rounded-md hover:bg-red-600 " target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="group-hover:fill-white" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/>
                                    </svg>

                                    <span class="text-sm font-normal text-white mr-2 group-hover:text-white">خروج</span>
                                </button>
                               

                                <button class="item block xd:hidden" id="backButton">
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 19L3 12M3 12L10 5M3 12L21 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                   </svg>

                                </button>
                                <form asp-action="Logout" asp-controller="Account" method="post" id="frmLogout"></form>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="container px-4 max-w-5xl mx-auto pb-20">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- header -->
        <!-- xd:w-[calc(100%_-_301px)] xd:mr-auto -->
        <!-- footer -->
        <!-- md:hidden -->
        @* {#if bottomnavigation === "true"} *@


        @if (HasBottomSheetMenu == true)
        {
            <div class="block fixed bottom-0 z-20 right-0 left-0 xd:hidden">
                <div class="container-fluid">
                    <div class="main__content h-20 pt-8">
                        <div class="items bg-indigo-600 h-12 flex">
                            <div class="item h-12 w-4/12 flex justify-center items-center " onclick="toggleSideMenu()">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6H20M4 12H20M4 18H20" stroke="white" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                </svg>
                            </div>
                            <a href="/dtcms" class="item h-12 w-4/12 flex justify-center items-center">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3 12L5 10M5 10L12 3L19 10M5 10V20C5 20.5523 5.44772 21 6 21H9M19 10L21 12M19 10V20C19 20.5523 18.5523 21 18 21H15M9 21C9.55228 21 10 20.5523 10 20V16C10 15.4477 10.4477 15 11 15H13C13.5523 15 14 15.4477 14 16V20C14 20.5523 14.4477 21 15 21M9 21H15"
                                          stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                            <div data-sheet-control="fast__add" class="item h-12 w-4/12 flex justify-center items-center">
                                <div class="mini__item -mt-12 rounded w-12 h-12 bg-indigo-600 flex items-center justify-center border-4 border-solid border-white rounded-3xl">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9 1V17M17 9L1 9" stroke="white" stroke-width="2" stroke-linecap="round"
                                              stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>
                            <a href="/dtcms/filemanager" class="item h-12 w-4/12 flex justify-center items-center">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17 9H3M17 9C18.1046 9 19 9.89543 19 11V17C19 18.1046 18.1046 19 17 19H3C1.89543 19 1 18.1046 1 17V11C1 9.89543 1.89543 9 3 9M17 9V7C17 5.89543 16.1046 5 15 5M3 9V7C3 5.89543 3.89543 5 5 5M5 5V3C5 1.89543 5.89543 1 7 1H13C14.1046 1 15 1.89543 15 3V5M5 5H15"
                                          stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                            <a href="/dtcms/settings" class="item h-12 w-4/12 flex justify-center items-center">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.32463 2.31731C8.75103 0.560897 11.249 0.560897 11.6754 2.31731C11.9508 3.45193 13.2507 3.99038 14.2478 3.38285C15.7913 2.44239 17.5576 4.2087 16.6172 5.75218C16.0096 6.74925 16.5481 8.04918 17.6827 8.32463C19.4391 8.75103 19.4391 11.249 17.6827 11.6754C16.5481 11.9508 16.0096 13.2507 16.6172 14.2478C17.5576 15.7913 15.7913 17.5576 14.2478 16.6172C13.2507 16.0096 11.9508 16.5481 11.6754 17.6827C11.249 19.4391 8.75103 19.4391 8.32463 17.6827C8.04918 16.5481 6.74926 16.0096 5.75219 16.6172C4.2087 17.5576 2.44239 15.7913 3.38285 14.2478C3.99038 13.2507 3.45193 11.9508 2.31731 11.6754C0.560897 11.249 0.560897 8.75103 2.31731 8.32463C3.45193 8.04918 3.99037 6.74926 3.38285 5.75218C2.44239 4.2087 4.2087 2.44239 5.75219 3.38285C6.74926 3.99037 8.04918 3.45193 8.32463 2.31731Z"
                                          stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M13 10C13 11.6569 11.6569 13 10 13C8.34315 13 7 11.6569 7 10C7 8.34315 8.34315 7 10 7C11.6569 7 13 8.34315 13 10Z"
                                          stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }



        <dt:bottom-sheet id="fast__add" min-height="79">
            <div class=" text-center text-gray-900 text-lg font-semibold  leading-normal">
                @Localizer["Create"]
            </div>

            <div class="flex flex-col">



                <a href="/dtcms/article/upsert" class="text-gray-700 text-sm font-semibold leading-normal flex items-center border-b border-solid border-gray-100 pb-2 mb-6">
                    <span class="icon-Book-open text-xl rtl:ml-2 ltr:mr-2"></span>
                    @Localizer["AddFastArticle"]
                </a>

                <a href="/dtcms/podcast/upsert" class="text-gray-700 text-sm font-semibold leading-normal flex items-center border-b border-solid border-gray-100 pb-2 mb-6">
                    <span class="icon-Microphone text-xl rtl:ml-2 ltr:mr-2"></span>
                  پادکست
                </a>
                <a href="/dtcms/portfolio/upsert" class="text-gray-700 text-sm font-semibold leading-normal flex items-center border-b border-solid border-gray-100 pb-2 mb-6">
                    <span class="icon-Desktop-computer text-xl rtl:ml-2 ltr:mr-2"></span>
                                                                            نمونه کار
                </a>

                  <a href="/dtcms/service/upsert" class="text-gray-700 text-sm font-semibold leading-normal flex items-center border-b border-solid border-gray-100 pb-2 mb-6">
                    <span class="icon-Archive text-xl rtl:ml-2 ltr:mr-2"></span>
                                                                       خدمات
                </a>
                <a href="/dtcms/DynamicPage/upsert" class="text-gray-700 text-sm font-semibold leading-normal flex items-center border-b border-solid border-gray-100 pb-2 mb-6">
                    <span class="icon-Document text-xl rtl:ml-2 ltr:mr-2"></span>
                    @Localizer["AddFastPage"]
                </a>
 
                 
                <a href="/dtcms/usermanager/upsert" class="text-gray-700 text-sm font-semibold leading-normal flex items-center ">
                    <span class="icon-User text-xl rtl:ml-2 ltr:mr-2"></span>
                    @Localizer["AddFastUser"]
                </a>


            </div>
        </dt:bottom-sheet>

        <div id="languageDrawer"
             class="fixed bottom-0 translate-y-full pb-12 px-4 pt-2  w-96 md:w-[510px] rounded-t-xl z-50 mx-auto  bg-white"
             tabindex="-1" aria-labelledby="drawer-bottom-label ">
            <div class="  text-center">
                <div class="mb-5 h-[5px] w-[50px] bg-gray-300 rounded-md mx-auto"></div>
                <span class="font-semibold text-base text-gray-900 inline-block mb-4">@Localizer["LanguageControlTitle"]</span>
                <div class="space-y-4 mb-9">
                    <div class="flex flex-col space-y-2 items-start ltr:text-left ltr:direction__ltr">
                        <label for="">@Localizer["StieLanguage"]</label>
                        <select id=siteLangSelector
                                class="w-full appearance-none rounded-md border border-gray-300 bg-white px-3 py-2.5 text-right ltr:text-left ltr:bg-right-center  placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm ltr:select_ltr"
                                data-lang="@Lang">
                            <option value="" disabled>@Localizer["StieLanguageOption1"]</option>
                            <option value="fa-IR">@Localizer["StieLanguageOption2"]</option>
                            <option value="en-US">@Localizer["StieLanguageOption3"]</option>
                            <option value="ar-SA">@Localizer["StieLanguageOption4"]</option>
                        </select>
                    </div>
                    <div class="flex flex-col space-y-2 items-start ltr:text-left ltr:direction__ltr">
                        <label for="">@Localizer["SystemLanguage"]</label>
                        <select id="systemLangSelector"
                                data-lang="@Lang"
                                class="w-full appearance-none rounded-md border border-gray-300 bg-white px-3 py-2.5 text-right ltr:text-left ltr:bg-right-center  placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm ltr:select_ltr">
                            <option value="" disabled>@Localizer["SystemLanguageOption1"]</option>
                            <option value="fa-IR">@Localizer["SystemLanguageOption2"]</option>
                            <option value="en-US">@Localizer["SystemLanguageOption3"]</option>
                        </select>
                    </div>
                </div>
                <div class="flex justify-between items-center flex-row ">
                    <button onclick="changeLanguage()"
                            class="font-normal text-sm text-white bg-green-400 py-[9px] px-[18px] rounded-md">
                        @Localizer["SaveButton"]
                    </button>
                    <button onclick="hideLanguageDrawer()"
                            class="font-normal text-sm text-gray-600 py-[9px] px-[18px] rounded-md">
                        @Localizer["CancelButton"]
                    </button>
                </div>
            </div>
        </div>

        <div id="logoutDrawer"
             class="fixed bottom-0 translate-y-full  w-96 md:w-[510px] rounded-t-xl px-4 py-3  z-40 p-4 mx-auto  bg-white"
             tabindex="-1" aria-labelledby="drawer-bottom-label">
            <div class="flex justify-center items-center flex-col py-3">
                <svg class="mb-4" width="50" height="5" viewBox="0 0 50 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" width="49" height="5" rx="2.5" fill="#D1D5DB" />
                </svg>
                <h3 class="text-base font-semibold">آیا خروج از حساب کاربری را تایید میکنید؟</h3>
                <div class="flex justify-between mt-9 mb-4 w-full px-5">
                    <button onclick="hideLogoutDrawer()">لغو</button>
                    <button class="bg-red-600 text-white rounded-md text-sm px-5 py-3">خروج از سامانه</button>
                </div>
            </div>
        </div>
    </main>

    <script src="~/DTCMS/bundle/bundle.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>